{% extends "::base-error.html.twig" %}

{% block body %}

    <div id="corps-container" class="large-container">
        <div class="container container-error">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{ 'error.503.h1'|trans({},'main') }}</h1>
                    <h2>{{ 'error.503.h2'|trans({},'main')|raw }}</h2>
                    <div class="block-icon text-center">
                        <div class="block-chien icon-chien-seul"></div>
                        <div class="block-503 icon-bulle-maintenance"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}