{% extends "::base-email.html.twig" %}

{% block visu_site %}
    {{ url('naturapass_email_lounge_valid_invite', {'fullname': fullname, 'loungetag': lounge.loungetag}) }}
{% endblock visu_site %}

{% block body %}
    {% set DESCRIPTION =
        lounge.description
    %}
    {% if DESCRIPTION != "" %}
        {% set LOUNGE_DESCRIPTION =
            ' - '~DESCRIPTION
        %}
    {% else %}
        {% set LOUNGE_DESCRIPTION =
            ''
        %}
    {% endif %}
    <p>{{ 'lounge.valid-invite.body'|trans({'%fullname%': fullname,'%loungename%': lounge.name,'%description%': LOUNGE_DESCRIPTION, '%lien%': app.request.schemeAndHttpHost~path('naturapass_lounge_show', {'loungetag': lounge.loungetag})},translation_name~'email')|raw }}</p>
{% endblock body %}