<div id="helpModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'text.modal'|trans({},translation_name~'help') }}</h4>
            </div>
            <div class="modal-body">
                {#                {{ 'text.mur'|trans({},'help')|raw }}#}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">{{ 'button.close'|trans({},translation_name~'global') }}</button>
            </div>
        </div>
    </div>
</div>
