<form action="{{ path('fos_user_group_new') }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_new" role="form" ng-non-bindable>
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'group.new.submit'|trans([], 'FOSUserBundle') }}" class="btn btn-default"/>
    </div>
</form>
