{% extends "::base-email.html.twig" %}

{% block visu_site %}
    {{ url('naturapass_email_publication_like', {'fullname': fullname, 'publication': publication.id}) }}
{% endblock visu_site %}

{% block body %}
    <p>{{ 'publication.comment.body'|trans({'%fullname%': fullname, '%lien%': app.request.schemeAndHttpHost~path('naturapass_publication_show', {'publication': publication.id})},translation_name~'email')|raw }}</p>
{% endblock body %}