{% extends "::base-email.html.twig" %}

{% block visu_site %}
    {{ url('naturapass_same_email_publication_comment', {'fullname': fullname, 'publication': publication.id}) }}
{% endblock visu_site %}

{% block body %}
    <p>{{ 'publication.same_comment.body'|trans({'%fullname%': fullname, '%owner%': owner, '%date%': date, '%comment%': comment, '%lien%': app.request.schemeAndHttpHost~path('naturapass_publication_show', {'publication': publication.id})},translation_name~'email')|raw }}</p>
{% endblock body %}