{% verbatim %}
    <div class="checkbox">
        <input id="sharing{{ share.id }}" checklist-value="share.id" type="checkbox" checklist-model="checkSharing" />
        <label for="sharing{{ share.id }}">{{ share.name }}</label>
    </div>
{% endverbatim %}