{% extends "NaturaPassMainBundle::layout-no-menu.html.twig" %}

{% block title %}{{ 'geolocalisationgroupechasse.title'|trans({},translation_name~'geolocalisationgroupechasse') }} | {{ parent() }}{% endblock %}
{% block description %}{{ 'geolocalisationgroupechasse.description'|trans({},translation_name~'geolocalisationgroupechasse') }}{% endblock %}

{% block stylesheets %}
    {% include "NaturaPassMainBundle:Include:background.html.twig" %}
{% endblock %}

{% block corps %}

    <div id="corps-container" class="large-container">
        <div class="container">
            <div class="container-md">
                {{ 'geolocalisationgroupechasse.raw'|trans({'%img%':asset("img/interface/geoloc.png")},translation_name~'geolocalisationgroupechasse') | raw }}
            </div>
        </div>
    </div>

{% endblock corps %}