{% extends "NaturaPassMainBundle::layout-page.html.twig" %}

{% block title %}{{ parent() }} - Mentions légales{% endblock %}
{% block description %}Retrouvez ici les mentions légales du site internet de Naturapass, la 1re application mobile des chasseurs.{% endblock %}

{% block corps %}

    <ol class="breadcrumb">
        <li><a href="{{ path('naturapass_main_homepage') }}">Naturapass</a></li>
        <li class="active">Mentions légales</li>
    </ol>

    <h1>Mentions légales</h1>
    <h2>COPYRIGHT</h2>
    <p>Les copyrights de l’ensemble du site et de ses applications sont la propriété exclusive de Naturapass. L’utilisation des informations du site Naturapass n’est autorisée que pour un usage individuel. Pour tout autre usage, prendre contact avec le directeur de la publication.</p>
    <h2>DIRECTEUR DE LA PUBLICATION</h2>
    <p>Naturapass<br>5 chemin de la Tactière<br>44470 CARQUEFOU</p>
    <h2>RESPONSABILITE</h2>
    <p>Naturapass n’est tenue que d’une obligation de moyens et garantit qu’elle a mis et mettra tous ses moyens en oeuvre pour constituer une base de données fiable et actualisée. La responsabilité de Naturapass ne saurait être engagée en raison des erreurs, omissions ou défaut d’actualité de la base de données. Il appartient donc à l’utilisateur de vérifier ou recouper les informations recueillies. Les conseils et études fournis au sein du serveur «Naturapass» ne sont donnés qu’à titre d’informations et ne sauraient remplacer une consultation auprès de la société Naturapass. L’utilisateur est seul responsable des questions qu’il formule, de l’emploi qu’il fait des résultats obtenus et des conséquences de l’utilisation qu’il peut en faire. En aucun cas, Naturapass ne prendra en charge l’indemnisation de dommages intérêts immatériels, directs ou indirects, subis par l’utilisateur, tels que manques à gagner, préjudice d’exploitation ou perte de bénéfice. En outre, Naturapass ne peut être tenue pour responsable de l’impossibilité momentanée d’accéder au site Internet Naturapass si la cause est en une interruption des services EDF, Télécommunications, interruption du fonctionnement des réseaux du fournisseur d’accès à Internet, défaillance du matériel de réception ou de la ligne de l’abonné, ainsi que tout cas de force majeure ou fait d’autrui.</p>
    <h2>DONNÉES PERSONNELLES</h2>
    <p>Les données nominatives enregistrées sur ce site seront stockées et utilisées conformément à la loi du 6 janvier 1978 relative à l’informatique et aux libertés. Aucune donnée personnelle ne sera collectée à votre insu. Vous pouvez exercer votre droit de modification, de rectification et de suppression des données vous concernant</p>
    <h2>HEBERGEMENT</h2>
    <p>Online<br>ONLINE SAS BP 438 75366 PARIS CEDEX 08<br>www.online.net</p>
    <h2>CREATION DU SITE</h2>
    <p>E-CONCEPTION<br>Impasse du Jura<br>01800 CHARNOZ SUR AIN<br>www.e-conception.fr</p>

{% endblock corps %}