{% extends "::base.html.twig" %}

{% block title %}{{ 'title.password_lost'|trans({},translation_name~'user') }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {% include "NaturaPassMainBundle:Include:background.html.twig" %}
{% endblock %}
{% block body %}

    <div id="corps-container" class="large-container">
        <div class="container container-md">
            <h1>{{ 'user.password_lost.title'|trans({},translation_name~'user') }}</h1>

            <p>
                {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
            </p>
        </div>
    </div>

{% endblock body %}