{% extends "::base-email.html.twig" %}

{% block visu_site %}
    {{ url('naturapass_user_password_email', {'fullname': fullname,'lien':lien}) }}
{% endblock visu_site %}

{% block body %}
    <p>{{ 'user.changepassword.body'|trans({'%fullname%': fullname, '%lien%':  app.request.schemeAndHttpHost~path('fos_user_resetting_reset', {'token':lien})},translation_name~'email')|raw }}</p>
{% endblock body %}