{% extends "::base.html.twig" %}

{% block title %}{{ 'title.password_lost'|trans({},translation_name~'user') }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {% include "NaturaPassMainBundle:Include:background.html.twig" %}
{% endblock %}
{% block body %}

    <div id="corps-container" class="large-container">
        <div class="container container-md">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{ 'user.password_lost.title'|trans({},translation_name~'user') }}</h1>

                    <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}