{% extends "::base.html.twig" %}

{% block title %}{{ 'title.password_new'|trans({},translation_name~'user') }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {% include "NaturaPassMainBundle:Include:background.html.twig" %}
{% endblock %}
{% block body %}

    <div id="corps-container" class="large-container">
        <div class="container container-md">
            <h1>{{ 'user.password_lost.title'|trans({},translation_name~'user') }}</h1>

            <div>
                {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
            </div>
        </div>
    </div>

{% endblock body %}
