{% extends "::base-email.html.twig" %}

{% block visu_site %}
    {{ url('naturapass_email_user_password', {'fullname': fullname,'token':token}) }}
{% endblock visu_site %}

{% block body %}
    <p>{{ 'user.api_changepassword.body'|trans({'%fullname%': fullname, '%token%':  token},translation_name~'email')|raw }}</p>
{% endblock body %}