{% extends "::base-email.html.twig" %}

{% block visu_site %}
    {{ url('naturapass_email_user_invitation', {'fullname': user_fullname, 'email': email }) }}
{% endblock visu_site %}

{% block body %}
    <p>{{ 'invitation.new.body'|trans({'%fullname%': user_fullname ,'%email_body%': email_body, '%lien%':  app.request.schemeAndHttpHost~'?email='~email},translation_name~'email')|raw }}</p>
{% endblock body %}