{% extends "::base-email.html.twig" %}

{% block visu_site %}
    {{ url('naturapass_email_user_confirm', {'fullname': fullname,'link':link}) }}
{% endblock visu_site %}

{% block body %}
    <p>{{ 'user.register_confirmation.body'|trans({'%fullname%': fullname, '%link%': app.request.schemeAndHttpHost~path('fos_user_registration_confirm', {'token':link})},translation_name~'email')|raw }}</p>
{% endblock body %}