{% extends '::base-ng-template.html.twig' %}

{% block template_id %}modal.card-label-content.html{% endblock %}

{% block template_body %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Modifier le contenu</h4>
    </div>
    <div class="modal-body">
        <form name="tree" class="form-naturapass_content_add ng-pristine ng-valid" role="form" enctype="multipart/form-data">
            <div class="row" ng-repeat="content in data.entity.contents" ng-cloak>
                <div class="col-sm-11">
                    <div class="form-group">
                        <input type="hidden" id="id" name="id" class="form-control" ng-model="content.id">
                        <input type="text" id="name" name="Nom" placeholder="Nom" class="form-control" ng-model="content.name">
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <a class="pull-left btn btn-danger btn-xs" ng-click="deleteRowContent($index, content, this)"><span
                                    class="glyphicon glyphicon-remove" title="Supprimer le contenu"></span></a>
                    </div>
                </div>
            </div>
    </div>
    </form>
    </div>
    <div class="modal-footer">
        <span class="pull-left glyphicon glyphicon-plus btn btn-primary" ng-click="addNewContent()"></span>
        <button class="btn btn-primary" ng-click="ok()" np-submit-loader="data.loading">{{ 'button.validate'|trans({}, translation_name~'global') }}</button>
        <button class="btn btn-danger" ng-click="cancel()" np-submit-loader="data.loading">{{ 'button.cancel'|trans({}, translation_name~'global') }}</button>
    </div>
{% endblock %}