{% extends "::base-email.html.twig" %}

{% block visu_site %}
    {{ url('naturapass_email_group_invite', {'fullname': fullname, 'grouptag': group.grouptag, 'message': message}) }}
{% endblock visu_site %}

{% block body %}
    {% set DESCRIPTION =
        group.description
    %}
    {% if DESCRIPTION != "" %}
        {% set GROUP_DESCRIPTION =
            ' - '~DESCRIPTION
        %}
    {% else %}
        {% set GROUP_DESCRIPTION =
            ''
        %}
    {% endif %}
    <p>{{ 'group.invite.body'|trans({'%fullname%': fullname,'%groupname%': group.name,'%description%': GROUP_DESCRIPTION, '%lien%': app.request.schemeAndHttpHost~path('naturapass_group_invited', {'grouptag': group.grouptag}), '%message%':message},translation_name~'email')|raw }}</p>
{% endblock body %}